$color-white: #fff;
$color-red: #df3737;
$color-yellow: #fed700;
$color-green: #5bb300;
$color-blue: #0062bd;
$color-dark: #333e48;

$laptop: 1280px;
$tablet: 991px;
$mobile: 768px;
$mobileMedium: 640px;
$mobileSmall: 545px;
$mobileDino: 320px;

$z-header: 1000;
$z-sidemenu: 2000;
$z-sidebar: 2000;
$z-modal: 3000;

