<ul class="menu">
    <li class="menu__item menu__item_bold">
        <a class="menu__link" href="./shop.html">Value of the Day</a>
    </li>

    <li class="menu__item menu__item_bold">
        <a class="menu__link" href="./shop.html">Top 100 Offers</a>
    </li>

    <li class="menu__item menu__item_bold">
        <a class="menu__link" href="./shop.html">New Arrivals</a>
    </li>

    <li class="menu__item menu__item_contain">
        <a class="menu__link" href="./shop.html">Laptops & Computers</a>

        <ul class="submenu">
            <li class="submenu__item">
                <a class="submenu__link" href="./shop.html">Laptops</a>
            </li>
            <li class="submenu__item">
                <a class="submenu__link" href="./shop.html">Computers</a>
            </li>
            <li class="submenu__item submenu__item_contain">
                <a class="submenu__link" href="./shop.html">Devices</a>

                <ul class="submenu">
                    <li class="submenu__item">
                        <a class="submenu__link" href="./shop.html">Mouses</a>
                    </li>
                    <li class="submenu__item">
                        <a class="submenu__link" href="./shop.html">Keyboards</a>
                    </li>
                    <li class="submenu__item">
                        <a class="submenu__link" href="./shop.html">USB Gadgets</a>
                    </li>
                    <li class="submenu__item">
                        <a class="submenu__link" href="./shop.html">Hard Drive</a>
                    </li>
                    <li class="submenu__item">
                        <a class="submenu__link" href="./shop.html">Adapters</a>
                    </li>
                </ul>
            </li>
            <li class="submenu__item">
                <a class="submenu__link" href="./shop.html">Accessories</a>
            </li>
        </ul>
    </li>

    <li class="menu__item menu__item_contain">
        <a class="menu__link" href="./shop.html">Cameras & Photography</a>

        <ul class="submenu">
            <li class="submenu__item">
                <a class="submenu__link" href="./shop.html">Lenses</a>
            </li>
            <li class="submenu__item submenu__item_contain">
                <a class="submenu__link" href="./shop.html">Camera Accessories</a>

                <ul class="submenu">
                    <li class="submenu__item">
                        <a class="submenu__link" href="#">Covers</a>
                    </li>
                    <li class="submenu__item">
                        <a class="submenu__link" href="#">Screen Protectors</a>
                    </li>
                    <li class="submenu__item">
                        <a class="submenu__link" href="#">Light Meters</a>
                    </li>
                </ul>
            </li>
            <li class="submenu__item">
                <a class="submenu__link" href="#">Security</a>
            </li>
            <li class="submenu__item">
                <a class="submenu__link" href="#">Camcorders</a>
            </li>
        </ul>
    </li>

    <li class="menu__item menu__item_contain">
        <a class="menu__link" href="./shop.html">Smart Phones & Tablets</a>

        <ul class="submenu">
            <li class="submenu__item">
                <a class="submenu__link" href="#">Tablets</a>
            </li>
            <li class="submenu__item">
                <a class="submenu__link" href="#">Phones</a>
            </li>
            <li class="submenu__item">
                <a class="submenu__link" href="#">Gift Cards</a>
            </li>
            <li class="submenu__item">
                <a class="submenu__link" href="#">Accessories</a>
            </li>
        </ul>
    </li>

    <li class="menu__item menu__item_contain">
        <a class="menu__link" href="./shop.html">Video Games & Consoles</a>

        <ul class="submenu">
            <li class="submenu__item">
                <a class="submenu__link" href="#">Video Games</a>
            </li>
            <li class="submenu__item">
                <a class="submenu__link" href="#">Consoles</a>
            </li>
        </ul>
    </li>

    <li class="menu__item menu__item_contain">
        <a class="menu__link" href="./shop.html">TV & Audio</a>

        <ul class="submenu">
            <li class="submenu__item">
                <a class="submenu__link" href="#">TV</a>
            </li>
            <li class="submenu__item">
                <a class="submenu__link" href="#">Audio</a>
            </li>
            <li class="submenu__item">
                <a class="submenu__link" href="#">Speakers</a>
            </li>
            <li class="submenu__item submenu__item_contain">
                <a class="submenu__link" href="#">Accessories</a>

                <ul class="submenu">
                    <li class="submenu__item">
                        <a class="submenu__link" href="#">Remote Control</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>

    <li class="menu__item menu__item_contain">
        <a class="menu__link" href="./shop.html">Gadgets</a>

        <ul class="submenu">
            <li class="submenu__item">
                <a class="submenu__link" href="#">New Gadgets</a>
            </li>
            <li class="submenu__item">
                <a class="submenu__link" href="#">Camera Accessories</a>
            </li>
            <li class="submenu__item">
                <a class="submenu__link" href="#">Accessories</a>
            </li>
        </ul>
    </li>

    <li class="menu__item menu__item_contain">
        <a class="menu__link" href="./shop.html">Car Electronic & GPS</a>

        <ul class="submenu">
            <li class="submenu__item">
                <a class="submenu__link" href="#">GPS Navigators</a>
            </li>
            <li class="submenu__item">
                <a class="submenu__link" href="#">Accessories</a>
            </li>
        </ul>
    </li>

    <li class="menu__item menu__item_contain">
        <a class="menu__link" href="./shop.html">Accesories</a>

        <ul class="submenu">
            <li class="submenu__item">
                <a class="submenu__link" href="#">TV Accessories</a>
            </li>
            <li class="submenu__item">
                <a class="submenu__link" href="#">Computer & Console</a>
            </li>
        </ul>
    </li>
</ul>