<div class="pagination">
    <ul class="pagination__list">
        <li class="pagination__item active">
            <a class="pagination__link" href="#">
                <span>1</span>
            </a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">
                <span>2</span>
            </a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">
                <span>3</span>
            </a>
        </li>
        <li class="pagination__item pagination__item_dots">
            <a class="pagination__link" href="#">
                <span>...</span>
            </a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">
                <span>18</span>
            </a>
        </li>
    </ul>
</div>