<div class="price-range-slider">
    <div class="price-range-slider__range" id="price-range-slider-1"></div>

    <div class="price-range-slider__bottom">
        <span>Price:</span>
        <div class="price-range-slider__price">
            <span>$</span>
            <input class="price-range-slider__input" id="price-range-input-1" min="1" max="999999" type="number" value="1">
        </div>
        <span>-</span>
        <div class="price-range-slider__price">
            <span>$</span>
            <input class="price-range-slider__input" id="price-range-input-2" min="1" max="999999" type="number" value="2920">
        </div>
    </div>
</div>
