<div class="sidemenu" data-type="sidemenu">
    <div class="sidemenu__inner" data-type="sidemenu__inner">
        
        <div class="menu-mobile">
            <ul class="menu-mobile__list">
                <li class="menu-mobile__item">
                    <div class="menu-mobile__header">
                        <a class="menu-mobile__link menu-mobile__link_bold" href="#">Value of the Day</a>
                    </div>
                </li>

                <li class="menu-mobile__item">
                    <div class="menu-mobile__header">
                        <a class="menu-mobile__link menu-mobile__link_bold" href="#">Top 100 Offers</a>
                    </div>
                </li>

                <li class="menu-mobile__item">
                    <div class="menu-mobile__header">
                        <a class="menu-mobile__link menu-mobile__link_bold" href="#">New Arrivals</a>
                    </div>
                </li>

                <li class="menu-mobile__item">
                    <div class="menu-mobile__header menu-mobile__header_extended">
                        <a class="menu-mobile__link" href="#">Laptops & Computers</a>
                        <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                    </div>

                    <ul class="menu-mobile__list">
                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">Laptops</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>

                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">Computers</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>

                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header menu-mobile__header_extended">
                                <a class="menu-mobile__link" href="#">Devices</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>

                            <ul class="menu-mobile__list">
                                <li class="menu-mobile__item">
                                    <div class="menu-mobile__header">
                                        <a class="menu-mobile__link" href="#">Mouses</a>
                                        <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                                    </div>
                                </li>
                                <li class="menu-mobile__item">
                                    <div class="menu-mobile__header">
                                        <a class="menu-mobile__link" href="#">Keyboards</a>
                                        <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                                    </div>
                                </li>
                                <li class="menu-mobile__item">
                                    <div class="menu-mobile__header">
                                        <a class="menu-mobile__link" href="#">USB Gadgets</a>
                                        <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                                    </div>
                                </li>
                                <li class="menu-mobile__item">
                                    <div class="menu-mobile__header">
                                        <a class="menu-mobile__link" href="#">Hard Drive</a>
                                        <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                                    </div>
                                </li>
                                <li class="menu-mobile__item">
                                    <div class="menu-mobile__header">
                                        <a class="menu-mobile__link" href="#">Adapters</a>
                                        <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">Accessories</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="menu-mobile__item">
                    <div class="menu-mobile__header menu-mobile__header_extended">
                        <a class="menu-mobile__link" href="#">Cameras & Photography</a>
                        <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                    </div>

                    <ul class="menu-mobile__list">
                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">Lenses</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>

                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header menu-mobile__header_extended">
                                <a class="menu-mobile__link" href="#">Camera Accessories</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>

                            <ul class="menu-mobile__list">
                                <li class="menu-mobile__item">
                                    <div class="menu-mobile__header">
                                        <a class="menu-mobile__link" href="#">Covers</a>
                                        <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                                    </div>
                                </li>
                                <li class="menu-mobile__item">
                                    <div class="menu-mobile__header">
                                        <a class="menu-mobile__link" href="#">Screen Protectors</a>
                                        <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                                    </div>
                                </li>
                                <li class="menu-mobile__item">
                                    <div class="menu-mobile__header">
                                        <a class="menu-mobile__link" href="#">Light Meters</a>
                                        <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">Security</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>

                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">Camcorders</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="menu-mobile__item">
                    <div class="menu-mobile__header menu-mobile__header_extended">
                        <a class="menu-mobile__link" href="#">Smart Phones & Tablets</a>
                        <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                    </div>

                    <ul class="menu-mobile__list">
                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">Tablets</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>

                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">Phones</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>

                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">Gift Cards</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>

                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">Accessories</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="menu-mobile__item">
                    <div class="menu-mobile__header menu-mobile__header_extended">
                        <a class="menu-mobile__link" href="#">Video Games & Consoles</a>
                        <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                    </div>

                    <ul class="menu-mobile__list">
                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">Video Games</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>

                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">Consoles</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="menu-mobile__item">
                    <div class="menu-mobile__header menu-mobile__header_extended">
                        <a class="menu-mobile__link" href="#">TV & Audio</a>
                        <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                    </div>

                    <ul class="menu-mobile__list">
                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">TV</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>

                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">Audio</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>

                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">Speakers</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>

                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header menu-mobile__header_extended">
                                <a class="menu-mobile__link" href="#">Accessories</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>

                            <ul class="menu-mobile__list">
                                <li class="menu-mobile__item">
                                    <div class="menu-mobile__header">
                                        <a class="menu-mobile__link" href="#">Remote Control</a>
                                        <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="menu-mobile__item">
                    <div class="menu-mobile__header menu-mobile__header_extended">
                        <a class="menu-mobile__link" href="#">Gadgets</a>
                        <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                    </div>

                    <ul class="menu-mobile__list">
                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">New Gadgets</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>

                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">Camera Accessories</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>

                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">Accessories</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="menu-mobile__item">
                    <div class="menu-mobile__header menu-mobile__header_extended">
                        <a class="menu-mobile__link" href="#">Car Electronic & GPS</a>
                        <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                    </div>

                    <ul class="menu-mobile__list">
                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">GPS Navigators</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>

                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">Accessories</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="menu-mobile__item">
                    <div class="menu-mobile__header menu-mobile__header_extended">
                        <a class="menu-mobile__link" href="#">Accesories</a>
                        <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                    </div>

                    <ul class="menu-mobile__list">
                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">TV Accessories</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>

                        <li class="menu-mobile__item">
                            <div class="menu-mobile__header">
                                <a class="menu-mobile__link" href="#">Computer & Console</a>
                                <button class="menu-mobile__button" data-type="menu-button">Show more</button>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        
    </div>
</div>










