<div class="view">
    <div class="view__button view__button_grid_extended active" title="Grid extended" data-type="view-button" data-view="products_view_grid-extended" data-rating="true">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="view__button view__button_grid" title="Grid" data-type="view-button" data-view="products_view_grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="view__button view__button_list" title="List" data-type="view-button" data-view="products_view_list" data-rating="true">
        <div>
            <span></span>
        </div>
        <div>
            <span></span>
        </div>
        <div>
            <span></span>
        </div>
    </div>
</div>