.logo {
    display: flex;
    align-items: flex-end;

    &::after {
        content: "";
        display: block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: $color-yellow;
    }
}